body {
	font-family: 'Slabo 27px', serif;
	background: url('http://science-all.com/images/wallpapers/technology-wallpaper/technology-wallpaper-4.jpg');
	padding: 0px;
	color: #000000;
}

ul{
	padding: 0;
}
li{
	list-style: none;
}
.main-block{
	line-height: 1.5;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 630px;
	margin: 0 auto;
	padding: 80px 75px;
	text-align: center;
	border-radius: 4px;
	background-color: #fff;
}

.avatar-image{
	position: absolute;
	top: -60px;
	left: 40%;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background: url('../images/avatar.jpg');
	background-size: cover;
}

.name-header{
	font-size: 40px;
	font-weight: 600;
	line-height: 1.3;
	margin: 9px 0 24px;
	color: #4876ff;
}
.sub-header{
	font-size: 21px;
	font-weight: 600;
	line-height: 1.3;
	margin: 9px 0 24px;
	color: #808080;
}
.full-info{
	font-size: 16px;
	margin: 0;
}

.list-info{
	font-size: 14px;
	margin: 0;
	text-transform: uppercase;
}
.info-header{
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
	margin: 30px 0 6px;
}
.socials{
	margin-top: 30px;
}
.socials li{
	display: inline-block;
}
.social-image{
	display: block;
	width: 45px;
	margin-right: 12px;
	-webkit-transition: webkit-transform .4s ease-in;
			transition: webkit-transform .4s ease-in;
			transition:			transform .4s ease-in;
			transition: 		transform .4s ease-in;
}
.social-image:hover{
			-webkit-transform: scale(1.5);
					transform: scale(1.5);
}

.social-image img{
	width: 100%;
}
.name-header:hover{
			-webkit-transform: scale(1.5);
			color: red;
}
#transforming{
	-webkit-transition: webkit-transform .4s ease-in;
			transition: webkit-transform .4s ease-in;
			transition:			transform .4s ease-in;
			transition: 		transform .4s ease-in;

}
.avatar-image:hover{
			-webkit-transform: scale(1.5);
}
.clockdate-wrapper{
	background-color: #062578;
	padding: 25px;
	max-width: 430px;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin: 0, auto;
	margin-bottom: 10px;
}
#clock{
	background-color: #062578;
	font-family: sans-serif;
	font-size: 60px;
	text-shadow: 0px 0px 1px #fff;
	color: #fff;
}
#clock span{
	color: #888;
	text-shadow: 0px 0px 1px #333;
	font-size: 30px;
	position: relative;
	top: -27px;
	left: -10px;
}
#date{
	font-size: 14px;
	color: #fff;
	font-family: arial, sans-serif;
	letter-spacing: 10px;
}

.menu{
	background: #202024 url('http://celulares.s3.amazonaws.com/wp-content/gallery/iphone4.11b2h6r.jpg');
	left: -285px;
	height: 100%;
	position: fixed;
	width: 285px;

}

.jumbotron{
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.menu ul{
	border-bottom: 1px solid #636366;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px; 
}

.menu li{
	border-bottom: 1px solid #636366;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}
.menu a{
	color: #FFF;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-menu {
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-menu i{
	margin-right: 5px;
}